<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Efocus.LuceneWebSearch.SitecoreProcessors.AddHeadersHttpRequestProcessor, Efocus.LuceneWebSearch" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
    <search>
      <configuration>
        <indexes>
          <index id="crawledcontent" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">__crawledcontent</param>
            <Analyzer ref="search/analyzer"/>
            <locations hint="list:AddCrawler">
              <web type="Efocus.Sitecore.LuceneWebSearch.SiteCrawler, Efocus.Sitecore.LuceneWebSearch">
                <Urls hint="list">
                  <url>http://www.mysite.com</url>
                  <url>$(some-variable)</url>
                </Urls>
                <Triggers hint="list">
                  <Trigger>nothingnow</Trigger>
                </Triggers>
                <Tags>crawled</Tags>
                <Boost>1</Boost>
                <AdhereToRobotRules>true</AdhereToRobotRules>
                <MaximumThreadCount>2</MaximumThreadCount>
                <RegexExcludeFilter>(\.jpg|\.css|\.js|\.gif|\.jpeg|\.png|\.ico)</RegexExcludeFilter>
                <IndexFilters hint="raw:AddIndexFilter">
                  <filter start="&lt;!--BEGIN-NOINDEX--&gt;" end="&lt;!--END-NOINDEX--&gt;" />
                </IndexFilters>
                <FollowFilters hint="raw:AddFollowFilter">
                  <filter start="&lt;!--BEGIN-NOFOLLOW--&gt;" end="&lt;!--END-NOFOLLOW--&gt;" />
                  <!-- remove <a rel="nofollow"> tags -->
                  <!-- <a[^><]+?rel="[^"><"]*nofollow[^"><"]*"(.*?)> -->
                  <filter start="&lt;a[^&gt;&lt;]+?rel=&quot;[^&quot;&gt;&lt;&quot;]*nofollow[^&quot;&gt;&lt;&quot;]*?&quot;" end="&gt;" />
                  <!-- remove entire documents that have <meta name="robots" content="noindex" /> (regex = <meta name="robots" content="[^"><"]*nofollow[^"><"]*?") -->
                  <filter start="&lt;meta name=&quot;robots&quot; content=&quot;[^&quot;&gt;&lt;&quot;]*nofollow[^&quot;&gt;&lt;&quot;]*?&quot;" end="&lt;/html&gt;" />
                </FollowFilters>
              </web>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
  </sitecore>
</configuration>
