<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Efocus.Sitecore.LuceneWebSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Efocus.Sitecore.LuceneWebSearch.Properties.Settings>
            <setting name="RaiseCrawlEventOnRemoteQueue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RaiseCrawlEventOnLocalQueue" serializeAs="String">
                <value>True</value>
            </setting>
        </Efocus.Sitecore.LuceneWebSearch.Properties.Settings>
    </applicationSettings>
</configuration>